body {
  background-color: rgb(12, 55, 119);
  color: #f3bf7c;
}

input[type="text"],
input[type="text"] textarea {
  background-color: #092a5b;
  color: white;
  outline: none;
  border: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  background-color: #092a5b;
  outline: none;
}
.form-control {
  border-bottom: 1px solid white;
}
.form-control:focus {
  color: white;
  background-color: #092a5b;
  outline: 0;
  border-bottom: 1px solid silver;
  box-shadow: none;
}

.form-control:hover {
  background-color: #0d3a7e;
  border-bottom: 1px solid silver;
}

.header-navigation {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #092a5b;
  height: 70px;
  margin: 0;
}
.sidemenu {
  margin: 0;
  background-color: #092a5b;
  grid-column: 1 / span 2;
}

.main {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.content {
  padding: 2em;
  margin: 0;
  grid-column: 3 / -1;
}

/* Modal */
.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  pointer-events: auto;
  background-color: #092a5b;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #f3bf7c;
  text-shadow: none;
}
.close:hover {
  color: white;
}

.modal.modal-fade {
  animation: fade-in 1s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.modal > .modal-body {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding: 15px 20px;
  color: #c3c0c0;
}

.modal > .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal > .modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
  background: rgba(255, 255, 255, 0.749);
  border: 1px solid #c3c0c0;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.modal > .modal-close:hover {
  background: rgba(255, 255, 255, 0.989);
}

.modal > .modal-body {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  background-color: #303030;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding: 15px 20px;
  color: #c3c0c0;
}

@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
